## Variaveis

In [1]:
x = 5
y = "Renato"

In [2]:
print(x)

5

In [3]:
print(y)

Renato

In [4]:
x1 = str(3)
y1 = int(3)
z1 = float(3)

In [5]:
print(x1)

3

In [6]:
print(type(x1))

<class 'str'>

In [7]:
print(y1)
print(type(y1))

3
<class 'int'>

In [8]:
print(z1)
print(type(z1))

3.0
<class 'float'>

In [13]:
teste0 = "Renato1"
print(teste0)

Renato1

In [17]:
teste_new = "Renato1"
print(teste_new)

Renato1

In [18]:
teste new = "Renato1"
print(teste new)

SyntaxError: invalid syntax (<ipython-input-18-00493e9b1efe>, line 1)

In [19]:
x2,y2,z2 = "Renato", "Jone", "Val"
print(x2)
print(y2)
print(z2)

Renato
Jone
Val

In [22]:
frutas = ["maça", "banana", "laranja"]
x3, y3, z3 = frutas
print(x3)
print(y3)
print(z3)

maça
banana
laranja

In [24]:
print(x3, y3, z3)

maça banana laranja

In [27]:
print(x3 + ";", y3 +";", z3)

maça; banana; laranja